@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

/* --- Fix for Browser Autofill Background --- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Delays the browser's background color injection for 5000 seconds */
  transition: background-color 5000s ease-in-out 0s !important;

  /* Forces the text to stay white instead of turning black */
  -webkit-text-fill-color: rgba(255, 255, 255, 0.9) !important;

  /* Keeps the blinking cursor white */
  caret-color: white !important;
}

@theme {
  --font-pixelify: "Pixelify Sans", sans-serif;
}

.glassy-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.glassy-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 10px;
  /* prevents it from sticking to top/bottom edges */
  border-radius: 8px;
}

.glassy-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
}

.glassy-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

@layer base {
  body {
    @apply bg-black;
  }
}