@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --font-pixelify: "Pixelify Sans", sans-serif;
}

.glassy-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.glassy-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 10px;
  /* prevents it from sticking to top/bottom edges */
  border-radius: 8px;
}

.glassy-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
}

.glassy-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

@layer base {
  body {
    @apply bg-black;
  }
}